* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

.navbar {
    background-color: #121212;
    padding: 15px 30px;
}

.navbar li {
    list-style: none;
    padding: 1px 50px;
    font-size: 1.1rem;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: white;

}

body {
    font-weight: lighter;
}

#intro {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('bg.jpg') center/cover no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

h1 {
    overflow: hidden;
    border-right: .15em solid #bb86fc;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 3.5s steps(25, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 90%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #bb86fc
    }
}

#slogan {
    word-spacing: 200px;
    font-size: 2.4rem;
}

#sponsors {
    height: 140px;
    background-color: #121212;
    text-align: center;
    padding: 0.1rem;
    color: white;
    font-size: 1.4rem;
}

#mission {
    height: 275px;
    background-color: #121212;
    padding: 1rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

.card {
    border: solid 2px black;
    border-radius: 1px;
    text-align: center;
    padding: 1rem;
    color: black;
    font-size: 1rem;
    width: 30.5%;
    margin: 20px 15px;
    display: inline-block;
    background-color: #bb86fc;
}

form {
    width: 400px;
    margin: auto;
    justify-content: left;

}

input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
}

.search {
    width: 75%;
}

.submit {
    width: 70px;
    background-color: #bb86fc;
    color: black;
}

li a:hover {
    color: #bb86fc;
}

.logo {
    color: #bb86fc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>img {
    height: 29px;
    width: 29px;
    align-items: left;
}
.sponsorlogo{
    height: 100px;
    width: 100px;
}
.sponsorlogo{
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
#footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}